<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body class="bg-gray-100 min-h-screen flex flex-col">
    <!-- Navbar -->
    <%- include("../partials/nav") %>

    <!-- Center Wrapper -->
    <div class="flex flex-1 items-center justify-center">
      <main class="w-full max-w-md bg-white rounded-xl shadow-lg p-6">
        <header class="mb-6 text-center">
          <h1 class="text-2xl font-bold text-gray-800">Edit Your Home</h1>
          <p class="text-sm text-gray-500">
            Add your property details properly
          </p>
        </header>
      </main>
    </div>
  </body>
</html>
