<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header><h1>Register your home here</h1></header>
    <main>
      <form action="/host/add-home" method="post">
        <input
          type="text"
          name="houseName"
          placeholder="enter the name of your house"
          required
        />
        <input type="submit" />
      </form>
    </main>
  </body>
</html>
